pkgbase = shinombra
	pkgdesc = Extremely fast ambient lighting with native PipeWire support (Wayland/X11)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/sanlexandro/shinombra
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = gcc
	makedepends = pkgconf
	depends = pipewire
	depends = libportal
	depends = glib2
	depends = jq
	depends = gum
	options = !lto
	source = shinombra-0.1.0.tar.gz::https://github.com/sanlexandro/shinombra/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 091b6cd05e7259be805bdcd8adbf0b6dd1cd91612b0e80189aee54448117b2b3

pkgname = shinombra
