# ~/.config/systemd/user/shinombra.service
[Unit]
Description=Shinombra ambient lighting daemon by sanlexandro
After=pipewire.service wireplumber.service xdg-desktop-portal.service
Wants=pipewire.service wireplumber.service

PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/shinombra
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target